# Compose Variables (these are just dummy values to provide an example)
POSTGRES_PASSWORD = Postgres2024!
POSTGRES_USER= admin_julio
POSTGRES_DB=  app_db
PGADMIN_DEFAULT_EMAIL = julio@email.com
PGADMIN_DEFAULT_PASSWORD = PgAdmin2024!
HOSTNAME_SERVER = db_server
DB_CONTAINER_NAME = post_julio
PG_CONTAINER_NAME = pg_julio
APP_CONTAINER_NAME = app_julio